html {
  font-family: 'Lato', sans-serif;
}

body {
  padding: 20px;
  background-color: #ddd;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}